<configuration>
 <appSettings>
  <!--
  All appSettings are made available to your Node.js app via environment 
  variables
  You can access them in your app through the process.env object.
            
  process.env.<key>
  -->
  <add key="NEXTAUTH_URL" value="http://localhost:8017" />
  <add key="NEXTAUTH_SECRET" value="my_ultra_secure_nextauth_secret" />
 </appSettings>
 <system.webServer>
  <iisnode node_env="production" nodeProcessCountPerApplication="1" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionRetry="100" namedPipeConnectionRetryDelay="250" maxNamedPipeConnectionPoolSize="512" maxNamedPipePooledConnectionAge="30000" asyncCompletionThreadCount="0" initialRequestBufferSize="4096" maxRequestBufferSize="65536" uncFileChangesPollingInterval="5000" gracefulShutdownTimeout="60000" loggingEnabled="true" logDirectory="iisnode" debuggingEnabled="true" debugHeaderEnabled="false" debuggerPortRange="5058-6058" debuggerPathSegment="debug" maxLogFileSizeInKB="128" maxTotalLogFileSizeInKB="1024" maxLogFiles="20" devErrorsEnabled="true" flushResponse="false" enableXFF="false" promoteServerVars="" configOverrides="iisnode.yml" watchedFiles="web.config;*.js" nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
  <handlers>
   <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
  </handlers>
  <rewrite>
   <rules>
                <clear />
                <rule name="myapp" enabled="true">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="server.js" />
                </rule>
                <rule name="Add X-Forwarded-Host Header" enabled="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern=".*" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="Https inforce" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="false" />
                </rule>
    <!-- <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="https://secure.clickpay.com.sa/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_X_Forwarded_Host" value="{HTTP_HOST}" />
                        <set name="HTTP_X_Forwarded_For" value="{REMOTE_ADDR}" />
                        <set name="HTTP_X_Forwarded_Proto" value="{HTTPS}" />
                    </serverVariables>
                </rule> -->
    
   </rules>
  </rewrite>
  <directoryBrowse enabled="false" />
        <httpProtocol>
            <customHeaders>
                <add name="x-forwarded-host" value="*" />
            </customHeaders>
        </httpProtocol>
 </system.webServer>
</configuration>